.cart-widget {
  position: relative;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -12px;
  background-color: #00e0ff; 
  color: black;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 50%;
  padding: 3px 7px;
}
