* {
  box-sizing: border-box;
}

html,
body {
  height: auto;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  background: transparent;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}